In [1]:
import pandas as pd
import os

In [2]:
#os.chdir('C:/Users/Brian/Documents/Python/cicerone')
!dir('data')

 Volume in drive C has no label.
 Volume Serial Number is CA8D-A166

 Directory of C:\Users\Brian\Documents\Python\cicerone\notebooks

File Not Found

In [3]:
reviews = pd.read_json('../data/reviews.json', orient='records')
reviews.head()

   beer_id  rating                                user_id
0     4509    4.25     https://untappd.com/user/alexialeo
1     4509    4.25     https://untappd.com/user/Joemelton
2     4509    3.25       https://untappd.com/user/jivatma
3     4509    3.75  https://untappd.com/user/mellikgorton
4     4509    4.00      https://untappd.com/user/jhillman

In [4]:
beer_info = pd.read_json('../data/beer_info.json', orient='records')
beer_info.head()

,abv,brewery,date,description,ibu,id,name,raters,rating,style
0,6.2% ABV,Lagunitas Brewing Company,Added 08/21/10,This is our unique version of an ancient style...,46 IBU,4509,IPA\nLagunitas Brewing Company\nIPA - American,"497,006 Ratings",(3.77),IPA - American
1,7% ABV,Bell's Brewery,Added 08/21/10,Brewed with 100% Centennial hops from the Paci...,No IBU,4133,Two Hearted Ale\nBell's Brewery\nIPA - American,"418,675 Ratings",(3.97),IPA - American
2,4.7% ABV,Founders Brewing Co.,Added 03/12/11,Satisfies your tastes while keeping your sense...,42 IBU,36834,All Day IPA\nFounders Brewing Co.\nIPA - Sessi...,"407,306 Ratings",(3.74),IPA - Session / India Session Ale
3,5.9% ABV,Goose Island Beer Co.,Added 08/21/10,Our India Pale Ale recalls a time when ales sh...,55 IBU,1353,Goose IPA\nGoose Island Beer Co.\nIPA - English,"443,590 Ratings",(3.53),IPA - English
4,7% ABV,Ballast Point Brewing Company,Added 08/21/10,The Sculpin IPA is a testament to our humble b...,70 IBU,5558,Sculpin\nBallast Point Brewing Company\nIPA - ...,"366,778 Ratings",(4),IPA - American